{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Info</title>
		<meta charset="UTF-8">
		<meta name=description content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href="https://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'style/side-nav.css' %}"/>
        <link rel="stylesheet" href="{% static 'style/main.css' %}"/>
	</head>
	<body>
        <div class="nav-side-menu">
            <div class="brand">rInfo</div>
            <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                        <a href="#"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-link fa-lg"></i> Links</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-video-camera fa-lg"></i> Movies</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main container">
        {% block content %}{% endblock %}
        </div>
	</body>
</html>